<div>
  <div style="width: 500px">
    <h3>Bar-Chart with Angular</h3>
    <canvas id="barChart"></canvas>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <div style="width: 500px">
    <h3>Pie-Chart with Angular</h3>
    <canvas id="pieChart"></canvas>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <div style="width: 500px">
    <h3>Line-Chart with Angular</h3>
    <canvas id="lineChart"></canvas>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <div style="width: 500px">
    <h3>Doughnut-Chart with Angular</h3>
    <canvas id="doughnutChart"></canvas>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <div style="width: 500px">
    <h3>Polar-Area-Chart with Angular</h3>
    <canvas id="polarAreaChart"></canvas>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <div style="width: 500px">
    <h3>Radar-Chart with Angular</h3>
    <canvas id="radarChart"></canvas>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <div style="width: 500px">
    <h3>Bubble-Chart with Angular</h3>
    <canvas id="bubbleChart"></canvas>
  </div>
  <br />
  <br />
  <hr />
  <br />
  <div style="width: 500px">
    <h3>Scatter-Chart with Angular</h3>
    <canvas id="scatterChart"></canvas>
  </div>
</div>
